pandas
ipykernel

pydantic
python-dotenv

# LangChain Core
langchain
langchain-core
langchain-community
langchain_groq
langchain_openai
structlog
-e .


langchain_google_genai
python-dotenv
pypdf
faiss-cpu
PyMuPDF
langchain-core[tracing]
pytest
streamlit